/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 103, ../sass/_variables.scss */
body {
  background: #ebebeb;
}

/* line 107, ../sass/_variables.scss */
.wx-icon {
  text-align: center;
  display: block;
}

/* line 112, ../sass/_variables.scss */
.wx-icon-apple {
  background: #4fab3d;
  color: #ffffff;
}
/* line 94, ../sass/_variables.scss */
.wx-icon-apple.wx-yang {
  color: #4fab3d;
}

/* line 115, ../sass/_variables.scss */
.wx-icon-bostonblue {
  background: #3b91b4;
  color: #ffffff;
}
/* line 94, ../sass/_variables.scss */
.wx-icon-bostonblue.wx-yang {
  color: #3b91b4;
}

/* line 118, ../sass/_variables.scss */
.wx-icon-sanmarino {
  background: #456cac;
  color: #ffffff;
}
/* line 94, ../sass/_variables.scss */
.wx-icon-sanmarino.wx-yang {
  color: #456cac;
}

/* line 121, ../sass/_variables.scss */
.wx-icon-blueviolet {
  background: #6456b7;
  color: #ffffff;
}
/* line 94, ../sass/_variables.scss */
.wx-icon-blueviolet.wx-yang {
  color: #6456b7;
}

/* line 124, ../sass/_variables.scss */
.wx-icon-deeplilac {
  background: #9955bb;
  color: #ffffff;
}
/* line 94, ../sass/_variables.scss */
.wx-icon-deeplilac.wx-yang {
  color: #9955bb;
}

/* line 127, ../sass/_variables.scss */
.wx-icon-mulberry {
  background: #c54b8c;
  color: #ffffff;
}
/* line 94, ../sass/_variables.scss */
.wx-icon-mulberry.wx-yang {
  color: #c54b8c;
}

/* line 130, ../sass/_variables.scss */
.wx-icon-darkcoral {
  background: #cd5b45;
  color: #ffffff;
}
/* line 94, ../sass/_variables.scss */
.wx-icon-darkcoral.wx-yang {
  color: #cd5b45;
}

/* line 133, ../sass/_variables.scss */
.wx-icon-rawsienna {
  background: #d27d46;
  color: #ffffff;
}
/* line 94, ../sass/_variables.scss */
.wx-icon-rawsienna.wx-yang {
  color: #d27d46;
}

/* line 136, ../sass/_variables.scss */
.wx-icon-tussock {
  background: #c5884b;
  color: #ffffff;
}
/* line 94, ../sass/_variables.scss */
.wx-icon-tussock.wx-yang {
  color: #c5884b;
}

/* line 139, ../sass/_variables.scss */
.wx-icon-turmeric {
  background: #cabb48;
  color: #ffffff;
}
/* line 94, ../sass/_variables.scss */
.wx-icon-turmeric.wx-yang {
  color: #cabb48;
}

/* line 142, ../sass/_variables.scss */
.wx-icon-wattle {
  background: #dcd747;
  color: #ffffff;
}
/* line 94, ../sass/_variables.scss */
.wx-icon-wattle.wx-yang {
  color: #dcd747;
}

/* line 145, ../sass/_variables.scss */
.wx-icon-androidgreen {
  background: #a4c639;
  color: #ffffff;
}
/* line 94, ../sass/_variables.scss */
.wx-icon-androidgreen.wx-yang {
  color: #a4c639;
}

/* line 148, ../sass/_variables.scss */
.wx-yang {
  background: transparent;
}
/* line 150, ../sass/_variables.scss */
.wx-yang * {
  display: block;
}

/* line 155, ../sass/_variables.scss */
.wx-item {
  display: block;
  text-decoration: none;
}

/* line 1, ../sass/_messages.scss */
.wx-messages {
  list-style: none;
}
/* line 3, ../sass/_messages.scss */
.wx-messages > .wx-item {
  background: #ffffff;
  padding: 8px 12px;
  border-top: 1px solid #ededed;
}
/* line 7, ../sass/_messages.scss */
.wx-messages > .wx-item:first-child {
  border-top: none;
}
/* line 10, ../sass/_messages.scss */
.wx-messages > .wx-item .wx-icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 32px;
  margin-right: 10px;
  float: left;
}
/* line 86, ../sass/_variables.scss */
.wx-messages > .wx-item .wx-icon.wx-yang {
  font-size: 48px;
}
/* line 15, ../sass/_messages.scss */
.wx-messages > .wx-item .wx-name {
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  color: #353535;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 60px;
}
/* line 19, ../sass/_messages.scss */
.wx-messages > .wx-item .wx-content {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #aaaaaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 40px;
}
/* line 23, ../sass/_messages.scss */
.wx-messages > .wx-item .wx-time {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #bbbbbb;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: right;
}

/* line 1, ../sass/_contacts.scss */
.wx-contacts {
  background: #ffffff;
  list-style: none;
  padding: 0 12px;
}
/* line 5, ../sass/_contacts.scss */
.wx-contacts > .wx-item {
  padding: 8px 0;
  background: linear-gradient(180deg, #ededed, #ededed 50%, transparent 50%) top left/100% 1px no-repeat;
}
/* line 9, ../sass/_contacts.scss */
.wx-contacts > .wx-item:first-child {
  border-top: none;
}
/* line 12, ../sass/_contacts.scss */
.wx-contacts > .wx-item .wx-icon {
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 24px;
  margin-right: 10px;
  float: left;
}
/* line 86, ../sass/_variables.scss */
.wx-contacts > .wx-item .wx-icon.wx-yang {
  font-size: 36px;
}
/* line 17, ../sass/_contacts.scss */
.wx-contacts > .wx-item .wx-name {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #353535;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 1, ../sass/_functions.scss */
.wx-functions {
  background: #ffffff;
  padding: 0 12px;
}
/* line 4, ../sass/_functions.scss */
.wx-functions > .wx-item {
  padding: 12px 0;
  border-top: 1px solid #ededed;
}
/* line 66, ../sass/_variables.scss */
.wx-functions > .wx-item:first-child {
  border-top: none;
}
/* line 7, ../sass/_functions.scss */
.wx-functions > .wx-item .wx-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  margin: 0 14px;
  float: left;
}
/* line 86, ../sass/_variables.scss */
.wx-functions > .wx-item .wx-icon.wx-yang {
  font-size: 24px;
}
/* line 12, ../sass/_functions.scss */
.wx-functions > .wx-item .wx-name {
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  color: #353535;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 1, ../sass/_settings.scss */
.wx-settings {
  background: #ffffff;
  padding: 0 12px;
}
/* line 4, ../sass/_settings.scss */
.wx-settings > .wx-item {
  padding: 0 8px;
  border-top: 1px solid #ededed;
}
/* line 66, ../sass/_variables.scss */
.wx-settings > .wx-item:first-child {
  border-top: none;
}
/* line 7, ../sass/_settings.scss */
.wx-settings > .wx-item .wx-content {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  color: #aaaaaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: right;
}
/* line 11, ../sass/_settings.scss */
.wx-settings > .wx-item .wx-name {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #353535;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 2, ../sass/_group.scss */
.wx-group > .wx-title {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #888888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 3px;
  padding: 0 12px;
}
/* line 6, ../sass/_group.scss */
.wx-group > .wx-title:empty {
  margin-top: 0;
}

/* line 1, ../sass/_news.scss */
.wx-news {
  margin: 12px 16px 28px;
  background: #ffffff;
  list-style: none;
}
/* line 6, ../sass/_news.scss */
.wx-news > .wx-item:first-child {
  padding: 8px;
  position: relative;
}
/* line 10, ../sass/_news.scss */
.wx-news > .wx-item:first-child > .wx-icon {
  width: 100%;
  height: 135px;
}
/* line 15, ../sass/_news.scss */
.wx-news > .wx-item:first-child > .wx-name {
  position: absolute;
  padding: 7px 2px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  line-height: 1.2;
}
/* line 27, ../sass/_news.scss */
.wx-news > .wx-item:not(:first-child) {
  padding: 8px 8px 8px 16px;
  background: linear-gradient(180deg, #ededed, #ededed 50%, transparent 50%) top left/100% 1px no-repeat;
}
/* line 31, ../sass/_news.scss */
.wx-news > .wx-item:not(:first-child) > .wx-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 33.33333px;
  float: right;
}
/* line 86, ../sass/_variables.scss */
.wx-news > .wx-item:not(:first-child) > .wx-icon.wx-yang {
  font-size: 50px;
}
/* line 36, ../sass/_news.scss */
.wx-news > .wx-item:not(:first-child) > .wx-name {
  display: flex;
  overflow: hidden;
  height: 50px;
  padding: 0 20px 0 0;
  font-size: 16px;
  line-height: 1.2;
  align-items: center;
}

/* line 1, ../sass/_article.scss */
.wx-article {
  padding: 10px 15px 15px;
  background-color: #ffffff;
}
/* line 4, ../sass/_article.scss */
.wx-article > .wx-title {
  margin-bottom: 12px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 24px;
}
/* line 10, ../sass/_article.scss */
.wx-article > .wx-time,
.wx-article > .wx-author {
  color: #8c8c8c;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin: 0 8px 28px 0;
  text-decoration: none;
}
/* line 19, ../sass/_article.scss */
.wx-article > .wx-content {
  color: #3e3e3e;
  font-size: 16px;
  word-wrap: break-word;
  line-height: 1.6;
  clear: both;
  * max-width: 100% !important;
}
